.header, .nav {
    display: flex;
    align-items: center;
}

.header {
    height: 70px;
    background: black;
    color: snow;
    font-size: 30px;
    justify-content: space-between;
}

.nav div {
    margin: 0 20px;
}


.nav > a, .nav > a:active, .nav > a:visited {
    color: snow;
}

a, a:active, a:visited {
    color: black;
}

a:hover {
    color: red;
}
