{% extends 'owner/base.html' %}
{% block title %}
    Register Owner
{% endblock %}

{% block content %}
    <form method="post">
        {% for field in form %}
            {% if field != form.save %}
                <div>
                    {{ field.label }}
                    {{ field }}
                </div>
                {% if field.errors %}
                    <div style="color: red; font-size: 10px">{{ field.errors[0] }}</div>
                {% endif %}
            {% else %}
                <div>{{ field }}</div>

            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
